In [6]:
# Imports
import sqlalchemy as sa
import json
import pandas as pd
import psycopg2

In [5]:

#building a connection string to connect to our postgres db
# engine = sa.create_engine(f'postgresql://{username}:{password}@localhost:5432/sports_viewership')
from sqlalchemy import create_engine
# Postgres username, password, and database name
from config import POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_ADDRESS, POSTGRES_PORT, POSTGRES_DBNAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
.format(username=POSTGRES_USERNAME,
        password=POSTGRES_PASSWORD,
        ipaddress=POSTGRES_ADDRESS,
        port=POSTGRES_PORT,
        dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

NameError: name 'null' is not defined

In [ ]:
# Create dictionary of every table needed for our dataset
nfl_2017 = dict()
for num in range(6, 23):
    nfl_2017[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2017-nfl-tv-ratings-viewership/',skiprows=1)[num]

In [ ]:
# Drop the unneccesary row from each individual DF that contains it
nfl_2017[7] = nfl_2017[7].drop(nfl_2017[7].index[7])

In [ ]:
nfl_2017[8] = nfl_2017[8].drop(nfl_2017[8].index[8])

In [ ]:
nfl_2017[9] = nfl_2017[9].drop(nfl_2017[9].index[6])

In [ ]:
nfl_2017[10] = nfl_2017[10].drop(nfl_2017[10].index[6])

In [ ]:
nfl_2017[12] = nfl_2017[12].drop(nfl_2017[12].index[6])

In [ ]:
nfl_2017[13] = nfl_2017[13].drop(nfl_2017[13].index[6])

In [ ]:
nfl_2017[15] = nfl_2017[15].drop(nfl_2017[15].index[7])

In [ ]:
nfl_2017[16] = nfl_2017[16].drop(nfl_2017[16].index[6])

In [ ]:
nfl_2017[17] = nfl_2017[17].drop(nfl_2017[17].index[6])

In [ ]:
nfl_2017[18] = nfl_2017[18].drop(nfl_2017[18].index[6])

In [ ]:
nfl_2017[19] = nfl_2017[19].drop(nfl_2017[19].index[7])

In [ ]:
nfl_2017[20] = nfl_2017[20].drop(nfl_2017[20].index[6])

In [ ]:
nfl_2017[21] = nfl_2017[21].drop(nfl_2017[21].index[6])

In [ ]:
# Delete unnecessary columns
for i in range(6,23):
    del nfl_2017[i][0]
    del nfl_2017[i][2]
    del nfl_2017[i][3]
    del nfl_2017[i][4]
    del nfl_2017[i][6]
    del nfl_2017[i][7]

In [ ]:
# Create empty list to fill with each individual dataframe
df_list = []
for i in range(6,23):
    df_list.append(nfl_2017[i])

In [ ]:
# Combine each dataframe into one
full_2017 = pd.concat(df_list)
# Rename columns
full_2017.rename(columns = {1:'Game', 5:'Viewers (in Millions)'}, inplace = True)

In [ ]:

# Remove extra viewer data to only one per row and clean data to allow float datatype
full_2017["Viewers (in Millions)"] = full_2017["Viewers (in Millions)"].str.split("M", expand=True)[0]
full_2017["Viewers (in Millions)"] = full_2017["Viewers (in Millions)"].str.replace("(","")
full_2017["Viewers (in Millions)"] = full_2017["Viewers (in Millions)"].str.replace(")","")
full_2017["Viewers (in Millions)"] = full_2017["Viewers (in Millions)"].astype(float)

In [ ]:
# Create dictionary of every table needed for our dataset
nfl_2018 = dict()
for num in range(5, 22):
    nfl_2018[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2018-nfl-television-ratings-viewership/',skiprows=1)[num]

In [ ]:
# Delete unnecessary columns
for i in range(5,22):
    del nfl_2018[i][0]
    del nfl_2018[i][2]
    del nfl_2018[i][3]
    del nfl_2018[i][4]
    del nfl_2018[i][6]
    del nfl_2018[i][7]

In [ ]:
# Create empty list to fill with each individual dataframe
df_list2018 = []
for i in range(5,22):
    df_list2018.append(nfl_2018[i])

In [ ]:
# Combine each dataframe into one
full_2018 = pd.concat(df_list2018)
# Rename columns
full_2018.rename(columns = {1:'Game', 5:'Viewers (in Millions)'}, inplace = True)

In [ ]:
# Remove extra viewer data to only one per row and clean data to allow float datatype
full_2018["Viewers (in Millions)"] = full_2018["Viewers (in Millions)"].str.split("M", expand=True)[0]
full_2018["Viewers (in Millions)"] = full_2018["Viewers (in Millions)"].str.replace("(","")
full_2018["Viewers (in Millions)"] = full_2018["Viewers (in Millions)"].str.replace(")","")
full_2018["Viewers (in Millions)"] = full_2018["Viewers (in Millions)"].astype(float)

In [ ]:
# Create dictionary of every table needed for our dataset
nfl_2019 = dict()
for num in range(5, 22):
    nfl_2019[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2019-nfl-television-ratings-viewership/',skiprows=1)[num]

In [ ]:
# Delete unnecessary columns
for i in range(5,22):
    del nfl_2019[i][0]
    del nfl_2019[i][2]
    del nfl_2019[i][3]
    del nfl_2019[i][4]
    del nfl_2019[i][6]
    del nfl_2019[i][7]

In [ ]:
# Create empty list to fill with each individual dataframe
df_list2019 = []
for i in range(5,22):
    df_list2019.append(nfl_2019[i])

In [ ]:
# Combine each dataframe into one
full_2019 = pd.concat(df_list2019)
# Rename columns
full_2019.rename(columns = {1:'Game', 5:'Viewers (in Millions)'}, inplace = True)

In [ ]:
# Remove "M" from values to allow float datatype
full_2019["Viewers (in Millions)"] = full_2019["Viewers (in Millions)"].str.split("M", expand=True)[0]
full_2019["Viewers (in Millions)"] = full_2019["Viewers (in Millions)"].astype(float)

In [ ]:
# Create dictionary of every table needed for our dataset
nfl_2020 = dict()
for num in range(4, 15):
    nfl_2020[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2020-nfl-ratings-page/',skiprows=0)[num]
for num in range(15, 21):
    nfl_2020[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2020-nfl-ratings-page/',skiprows=1)[num]

In [ ]:
# Give all columns the same name to allow for looping
for i in range(4,15):
    nfl_2020[i].columns = [0,1,2,3,4,5,6,7,8,9]
# Delete unnecessary columns
for i in range(4,21):
    del nfl_2020[i][0]
    del nfl_2020[i][2]
    del nfl_2020[i][3]
    del nfl_2020[i][4]
    del nfl_2020[i][6]
    del nfl_2020[i][7]
    del nfl_2020[i][8]
    del nfl_2020[i][9]

In [ ]:
# Create empty list to fill with each individual dataframe
df_list2020 = []
for i in range(4,21):
    df_list2020.append(nfl_2020[i])

In [ ]:
# Combine each dataframe into one
full_2020 = pd.concat(df_list2020)
# Rename columns
full_2020.rename(columns = {1:'Game', 5:'Viewers (in Millions)'}, inplace = True)

In [ ]:
# Remove "M" from values to allow float datatype
full_2020["Viewers (in Millions)"] = full_2020["Viewers (in Millions)"].str.split("M", expand=True)[0]
full_2020["Viewers (in Millions)"] = full_2020["Viewers (in Millions)"].astype(float)

In [ ]:
nfl_2021 = dict()
for num in range(4, 21):
    nfl_2021[num] =\
    pd.read_html('https://www.sportsmediawatch.com/2021-nfl-ratings-page/',skiprows=0)[num]

In [ ]:
# Give all columns the same name to allow for looping
for i in range(4,21):
    nfl_2021[i].columns = [0,1,2,3,4,5,6,7,8,9]
# Delete unnecessary columns
for i in range(4,21):
    del nfl_2021[i][0]
    del nfl_2021[i][2]
    del nfl_2021[i][3]
    del nfl_2021[i][4]
    del nfl_2021[i][6]
    del nfl_2021[i][7]
    del nfl_2021[i][8]
    del nfl_2021[i][9]

In [ ]:
# Drop row with unusable data (no viewer data)
nfl_2021[15] = nfl_2021[15].drop([6])

In [ ]:
# Create empty list to fill with each individual dataframe
df_list2021 = []
for i in range(4,21):
    df_list2021.append(nfl_2021[i])

In [ ]:
# Combine each dataframe into one
full_2021 = pd.concat(df_list2021)
# Rename columns
full_2021.rename(columns = {1:'Game', 5:'Viewers (in Millions)'}, inplace = True)

In [ ]:
# Remove "M" from values to allow float datatype
full_2021["Viewers (in Millions)"] = full_2021["Viewers (in Millions)"].str.split("M", expand=True)[0]
full_2021["Viewers (in Millions)"] = full_2021["Viewers (in Millions)"].astype(float)

In [ ]:
# Add column to each dataframe that includes the year
full_2017['Year'] = 2017
full_2018['Year'] = 2018
full_2019['Year'] = 2019
full_2020['Year'] = 2020
full_2021['Year'] = 2021

In [ ]:
#list 
list(full_2017)

In [ ]:
full_2017.index

In [ ]:
full_2017['id'] = list(range(len(full_2017)))
full_2017

In [ ]:
full_2018['id'] = list(range(len(full_2018)))
full_2018

In [ ]:
full_2019['id'] = list(range(len(full_2019)))
full_2019

In [ ]:
full_2020['id'] = list(range(len(full_2020)))
full_2020

In [ ]:
full_2021['id'] = list(range(len(full_2021)))
full_2021

In [ ]:
# save to csv
full_2017.to_csv('resources/full_2017.csv')
full_2018.to_csv('resources/full_2018.csv')
full_2019.to_csv('resources/full_2019.csv')
full_2020.to_csv('resources/full_2020.csv')
full_2021.to_csv('resources/full_2021.csv')

In [ ]:
#removing index with,index=False
#name will be the name in sql pgadmin
full_2017.to_sql(name='full_2017',con=cnx,if_exists='replace',index=False)
full_2018.to_sql(name='full_2018',con=cnx,if_exists='replace',index=False)
full_2019.to_sql(name='full_2019',con=cnx,if_exists='replace',index=False)
full_2020.to_sql(name='full_2020',con=cnx,if_exists='replace',index=False)
full_2021.to_sql(name='full_2021',con=cnx,if_exists='replace',index=False)